.space1 {
	height: 30px;
}
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #000;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
